.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0084ff;
  color: white;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.profile-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.cards-table {
  margin-top: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cards-table th {
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: center;

  vertical-align: middle;
}

.cards-table td {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}

.cards-table input {
  border: none;
  background-color: transparent;
  width: 100%;
}

.cards-table img {
  max-width: 64px;
  max-height: 64px;
}

.cards-table .delete-icon {
  cursor: pointer;
  color: #d9534f;
}

.add-card-btn {
  margin-top: 20px;
}

.deck-name {
  font-weight: bold;
  font-size: 500;
}

.progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.correct-answer {
  animation: correct-answer 0.3s ease-in forwards;
}

.incorrect-answer {
  animation: incorrect-answer 0.3s ease-in forwards;
}

@keyframes correct-answer {
  to {
    background-color: rgb(96, 226, 183);
  }
}
@keyframes incorrect-answer {
  to {
    background-color: #fe8682;
  }
}